# Server Configuration
PORT=5000

# Firebase Configuration (Backend only needs project ID for Admin SDK)
FIREBASE_PROJECT_ID=property-management-syst-1c6c0

# Service Account Key (if using explicit credentials)
# GOOGLE_APPLICATION_CREDENTIALS=./path-to-service-account-key.json

# Admin User Configuration
ADMIN_EMAIL=shikur@gmail.com
ADMIN_PASSWORD=shikur3828

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dsfzkdwre
CLOUDINARY_API_KEY=332469666959356
CLOUDINARY_API_SECRET=Js2tazrsEme3JQF1PvUIn22HE5s
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=Property-images

